@media (max-width: 640px) {

    .navbar {
        padding: 1rem 1.2rem !important;
        height: auto !important;
        flex-direction: column !important;
        gap: 1rem;
    }

    .navbar .name h1 {
        font-size: 1rem !important;
        text-align: center;
    }

    .navbar .header ul {
        gap: 1rem !important;
        font-size: 0.58rem !important;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        letter-spacing: 2px !important;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {

    .navbar {
        padding: 1.5rem 2rem !important;
    }

    .navbar .header ul {
        gap: 2rem !important;
        font-size: 0.68rem !important;
    }

    .navbar .name h1 {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .navbar {
        padding: 1.5rem 3rem !important;
    }

    .navbar .header ul {
        gap: 2.5rem !important;
    }
}